@charset "utf-8";
/* CSS Document */

* {
	padding: 0px;
	margin: 0px;
	background-image: linear-gradient(to top, #6F9CDE,#4169E1);
	min-height: 100vh;
}


.logo {
	
	width: 300px;
	height: auto;

}


